*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA3j-_Z0HP_aIIdijJncuKnYg2nmdi5IHInA&usqp=CAU');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
hr{
    border: none;
    border-top: 3px solid #eee;
}
.main-section{
    max-width: 1200px;
    margin: 0 auto;
    border: 3px solid #eee;
    overflow: hidden;
    background: #fff;
}
.box{
    border: 1px solid #ddd;
    width: 300px;
    margin: 5px;
}
.box h1{
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.box a{
    background-color: #eee;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-align: center;
    display: block;
}
.main-header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
.headerUl{
list-style:none;
}
.headerUl li{
    display: inline;
}
.headerUl li a {
    color: #000;
    padding: 0 10px;
}
.main-content{
    display: flex;
    width: 100%;
    height: 100vh;
}
.main-aside{
    -webkit-align-self: stretch;
    align-self: stretch;
    background-color: #f9f9f96b;
    width: 350px;
    min-height: 100px;
    padding: 20px 0;
    display: block!important;
    border-right: 3px solid #eee;
}
ul li a{
    color:#000;
}
.mainUl{
    list-style: none;
    padding: 0;
}
.mainLi{
    font-size: 20px;
    padding: 5px 10px;
    background:#ececec;
}
.mainUl ul {
    list-style: none;
}
.mainUl ul li {
    margin: 2px;
}
.mainUl ul li a{
    padding: 5px;
    background-color: #ececec7a;
    display: block;
}
.mainUl ul li a:hover{
    background-color:#ececec;
}
.content{
    width: 100%;
}
.content-header-box{
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.menu{
    padding: 10px;
    background: #eee;
    display: none;
}

    .dis-none{
        display: block!important;
    }
    .dis-block{
        display: none!important;
    }
@media only screen and (max-width: 600px) {
    .menu{
        display: block;
    }
    .dis-none{
        display: none!important;
    }
    .dis-block{
        display: block!important;
    }
.main-header{
    display: block;
    height: auto;
}
.headerUl{
    padding: 0;
    margin: 10px 0;
}
.headerUl li a{
    background: #eee;
    padding: 5px;
}
.main-aside{
    width: 100%;
    display: none!important;
}
.main-asidee{
    width: 100%;
}
}